doctype html
html
	head
		title='Shop 226!'
		link(rel='stylesheet', href='/stylesheets/default.css', media="screen")
	body
		#header
			h1 Shop 226!
		#menu
			ul
				li
					a(href='/findproduct') Home
		block content